<h1 class="text-muted"><strong>Student</strong></h1>
<hr>
<table class="table striped hovered dataTable" id="dataTable">
    <thead>
        <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Student No.</th>
            <th class="text-left">Stream</th>
            <th class="text-left">Email</th>
        </tr>
    </thead>

    <tbody>
        {% for st in students %}
            <tr>
                <td>
                    <ul class="treeview stdTree" data-role="treeview">
                        <li class="node collapsed">
                            <a href="#"><span class="node-toggle"></span>{{ st.first_name }} {{ st.last_name }}</a>
                            <ul>
                                <li><a href="#">{{ st.student_number }}</a></li>
                                <li><a href="#">{{ st.stream }}</a></li>
                                <li><a href="#">{{ st.email }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td>{{ st.student_number }}</td>
                <td>{{ st.stream }}</td>
                <td>{{ st.email }}</td>
            </tr>
        {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Student No.</th>
            <th class="text-left">Stream</th>
            <th class="text-left">Email</th>
        </tr>
    </tfoot>
</table>